<article class="post">
	<div class="title">
		<a class="light" href="/post/{{id}}" target="_blank">{{title}}</a>
		<span>Posted by {{user.username}} on {{format_date created_at}}</span>
	</div>
	<div class="content">
		{{content}}
	</div>
</article>